:scss
  #event-block {
    .event-event {
      font-size: 1.4rem;
      margin-left: 1rem;
      color: #94000c;
    }
    .event-list {
      margin-left: 20px;
      margin-bottom: 20px;
      .img-margin {
        margin: 1rem;
        width: 22%;
      }
      .text-container{
        line-height: 2rem;
        padding-top: 0.5rem;
        .event-date {
          font-size: 1.2rem;
          color: #94000c;
        }
        .event-title {
          font-size: 1.4rem;
        }
        .event-main-text {
          font-size: 1.3rem;
        }
        .event-detail-text {
          font-style: italic;
          margin-right: 4rem;
          line-height: 0;
        }
      }
    }
    .paginate-container {
      text-align: center;
    }
  }

-##event-block
%p.text-left.event-event КАЛЕНДАРЬ СОБЫТИЙ
- @events.each do |event|
  .row
    .event-list
      = image_tag event[:img], class: 'img-responsive img-margin pull-left clearfix'
      .text-container
        %span.event-date
          = event[:date]
        %p.text-left.event-title
          = event[:title]
        %p.event-main-text
          = event[:text]
        %p.text-right.event-detail-text
          =link_to 'детальнее', '#'
.paginate-container
  = paginate @events