:scss
  .side-bar-container {
    margin-left: 20px;
    .side-bar-button {
      padding: 5px;
      a {
        text-decoration: none;
        color: #94000c;
      }
    }
    .side-bar-button:hover {
      border-left: 3px solid #94000c;
    }
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    .side-bar-container {
      .side-bar-button {
        font-size: 1rem;
      }
    }
  }

.side-bar-container
  .side-bar-button
    = link_to '' do
      ОБО МНЕ
  .side-bar-button
    = link_to '' do
      О ПСИХОАНАЛИТИЧЕСКОМ МЕТОДЕ
  .side-bar-button
    = link_to '' do
      ИНДИВИДУАЛЬНЫЙ АНАЛИЗ
  .side-bar-button
    = link_to '' do
      ДЕТСКИЙ ПСИХОАНАЛИЗ
  .side-bar-button
    = link_to '' do
      СЕМЕЙНАЯ ПСИХОАНАЛИТИЧЕСКАЯ ТЕРАПИЯ
  .side-bar-button
    = link_to '' do
      БИЗСЕН-ПСИХОЛОГИЧЕСКОЕ КОНСУЛЬТИРОВАНИЕ
  .side-bar-button
    = link_to '' do
      МЕРОПРИЯТИЯ
  .side-bar-button
    = link_to '' do
      КИНОКЛУБ
  .side-bar-button
    = link_to '' do
      СТАТЬИ
  .side-bar-button
    = link_to '' do
      КОНТАКТЫ
  .side-bar-button
    = link_to '' do
      БЛОГ