-#Header block
-#= render 'layouts/header_intro'

-#= render partial: 'layouts/header_img', locals: { main_img: 'header_main_image.png',
-#                                                  border_img: 'header_solid_line.png' }

%header

  = render partial: 'layouts/header_img', locals: { main_img: 'header_main_image.png',
                                                    border_img: 'header_solid_line.png' }

  = render partial: 'layouts/button', locals: { btn_text: 'Основная',
                                                url: root_path }

  .container
    .row
      .col-xs-3
        = render partial: 'main/side_bar'
        = render partial: 'main/audio_player'
      .col-xs-6
        = render partial: 'main/quote'
        = render partial: 'main/calendar'
      .col-xs-3
        = render partial: 'main/quiz'
        = render partial: 'main/advertising'


