:scss
  footer {
    .custom-footer-container {
      background-color: black;
      min-height: 40px;
      height: 100%;
      margin-top: 10px;
      text-align: center;
      .image-buttons {
        .social-image {
          margin-left: 2%;
          img {
            width: 4rem;
          }
        }
      }
    }
  }

%footer
  .custom-footer-container
    .image-buttons
      = link_to 'https://www.facebook.com/' do
        %span.social-image
          = image_tag 'facebook.png'
      = link_to 'https://plus.google.com' do
        %span.social-image
          = image_tag 'google_plus.png'
      = link_to 'https://www.instagram.com/'  do
        %span.social-image
          = image_tag 'inst.png'
      = link_to 'https://ok.ru' do
        %span.social-image
          = image_tag 'odnokl.png'
      = link_to 'https://www.pinterest.com' do
        %span.social-image
          = image_tag 'print.png'
      = link_to 'https://twitter.com' do
        %span.social-image
          = image_tag 'twit.png'
      = link_to 'https://vk.com' do
        %span.social-image
          = image_tag 'vk.png'
